@use "spaceing" as spc;
/* border 邊框　*/
.border:before,hr{border:1px solid inherit;}
@each $dirName,$dirPro in spc.$spacingDirection{
  @if($dirName != ""){
    .border-#{$dirName}:after{
      @each $subPro in $dirPro{
        content: "";
        width: 100%;
        border#{$subPro}:1px solid;
      }
    }
  }
}
.border-gray{border-color:var(--color-Neutral-300);}