$all-colors: map-merge-multiple(
    $primarys,
    $grays,
    $blues,
    $indigos,
    $purples,
    $pinks,
    $reds,
    $oranges,
    $yellows,
    $greens,
    $teals,
    $cyans
 );

$utilities: map-merge(
  $utilities,
  (
    "font-size":
      map-merge(
        map-get($utilities, "font-size"),
        (
          responsive: true,
        )
      ),
      
      "color": map-merge(
      map-get($utilities, "color"),
      (
        values: map-merge(
          map-get(map-get($utilities, "color"), "values"),
          (
            $all-colors
          ),
        ),
      ),
    ),

      "background-color": map-merge(
      map-get($utilities, "background-color"),
      (
        values: map-merge(
          map-get(map-get($utilities, "background-color"), "values"),
          (
            $all-colors
          ),
        ),
      ),
    ),

    "opacity": (
      property: opacity,
      values: (
        0: 0,
        25: .25,
        40: .40,
        50: .5,
        75: .75,
        100: 1,
      )
    ),
    "bg-opacity": (
      css-var: true,
      class: bg-opacity,
      values: (
        10: .1,
        25: .25,
        40: .40,
        50: .5,
        75: .75,
        100: 1
      )
    ),

    "position": map-merge(
      map-get($utilities, "position"),
      (
        responsive: true
      )
    ),
    
  )
);