.bg-1 {
  background: url("/assets/images/index/banner.png")no-repeat center/cover;
  background-color: var(--bs-gray-900);
  color: white;
  @include media-breakpoint-down(md){
    background-image: url(/assets/images/index/banner-sm.png);
  }
}
.bg-2 {
  background: url("/assets/images/index/banner-co-branded.png")no-repeat center/cover;
  background-color: var(--bs-gray-900);
  color: white;
  @include media-breakpoint-down(lg){
    background-image: url(/assets/images/index/banner-co-branded-sm.png) ;
  }
}
.deco{
  position: relative;
  &::before,&::after{
    content: " ";
    position: absolute;
    top: 50%;
    left: 50%;
    pointer-events: none;
    background-repeat: no-repeat;
  }
  &::before{
    width: calc(50% + 27px);
    height:calc(50% + 27px);
    max-width:calc(332px + 32px);
    transform: translate(-100%,-100%);
    background-image: url(/assets/images/index/star.svg);
    background-size: 48px;
    background-position: 0 0;
  }
  &::after{
    width: calc(50% + 40px);
    height:calc(50% + 40px);
    max-width:calc(332px + 40px);
    background-image: url(/assets/images/index/sparkle.svg);
    background-size: 76px;
    background-position: center right;
  }
}
@include media-breakpoint-up(sm){
  .grid-inspiration{
    display: grid;
    grid-template-columns:repeat(6,1rf);
    gap: 0;
    & li{
      width: 100%!important;
    }
    & li:nth-child(5){
      display: grid;
      grid-column: 5/span 2;
      grid-row: 1/span 2;
   }
    & li:nth-child(6){
      display: grid;
      grid-column: 1/ span 2;
      grid-row: 2/span 2;
   }

  }
}
