<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>URBNSTEP</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <ul class="navbar-nav flex-row text-center d-md-none">
        <li class="nav-item flex-fill">
          <a class="nav-link bg-primary-200" href="products.html">商品列表</a>
        </li>
        <li class="nav-item flex-fill">
          <a class="nav-link bg-primary-100" href="about.html">品牌故事</a>
        </li>
      </ul>
    <header class="bg-1 vh-100 d-flex justifity-content-center align-items-center">
      <section class="container flex-row gap-32">
        <div>
          <h1 class="display-2">URBNSTEP</h1>
          <h2 class="h5">Your Step, Your Statement</h2>
        </div>
        <a href="products.html" class="btn btn-primary" target="_blank">立即選購</a>
      </section>
    </header>
    <section id="part-1">
      <div class="container">
        <h2 class="text-center">New Arrival<span class="d-block h4">新品上市</span></h2>
        <ul class="list-unstyled row row-cols-2 row-cols-lg-4 g-4">
          <li class="col">
            <div class="card border-0 rounded-0">
              <img class="card-img-top rounded-0" src="../assets/images/index/new-1.png" alt="產品圖片：Monoverse">
              <div class="card-body px-0">
                <h3 class="h5">Monoverse</h3>
                <h4 class="fs-md">NT$2,600</h4>
              </div>
            </div>
          </li>
          <li class="col">
            <div class="card border-0 rounded-0">
              <img class="card-img-top rounded-0" src="../assets/images/index/new-2.png" alt="產品圖片：PLATFORM 404">
              <div class="card-body px-0">
                <h3 class="h5">PLATFORM 404</h3>
                <h4 class="fs-md">NT$2,600</h4>
              </div>
            </div>
          </li>
          <li class="col">
            <div class="card border-0 rounded-0">
              <img class="card-img-top rounded-0" src="../assets/images/index/new-3.png" alt="產品圖片：URBN Force">
              <div class="card-body px-0">
                <h3 class="h5">URBN Force</h3>
                <h4 class="fs-md">NT$3,200</h4>
              </div>
            </div>
          </li>
          <li class="col">
            <div class="card border-0 rounded-0">
              <img class="card-img-top rounded-0" src="../assets/images/index/new-4.png" alt="產品圖片：Mode90">
              <div class="card-body px-0">
                <h3 class="h5">Mode90</h3>
                <h4 class="fs-md">NT$4,000</h4>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </section>
    <section id="part-2">
      <div class="container">
        <h2>熱銷補貨</h2>
        <ul class="list-unstyled row flex-nowrap flex-md-wrap overflow-auto">
          <li class="col">
            <div class="card position-relative">
              <img src="../assets/images/products/product-3.png" alt="熱銷補貨照片" class="card-img">
                <h6 class="badge border-0 posititon-absolute top-0 start-0"></h6>
              </img>
            </div>
          </li>
          <li class="col">
            <div class="card position-relative">
              <img src="../assets/images/products/product-4.png" alt="熱銷補貨照片" class="card-img">
                <h6 class="badge border-0 posititon-absolute top-0 start-0"></h6>
              </img>
            </div>
          </li>
          <li class="col">
            <div class="card position-relative">
              <img src="../assets/images/products/product-5.png" alt="熱銷補貨照片" class="card-img">
                <h6 class="badge border-0 posititon-absolute top-0 start-0"></h6>
              </img>
            </div>
          </li>
          <li class="col">
            <div class="card position-relative">
              <img src="../assets/images/products/product-6.png" alt="熱銷補貨照片" class="card-img">
                <h6 class="badge border-0 posititon-absolute top-0 start-0"></h6>
              </img>
            </div>
          </li>
        </ul>
      </div>
    </section>
    <section id="part-3" class="bg-dark text-white">
      <div class="container text-center">
        <h2>
          URBNSTEP
          <span class="text-primary">x</span>
          Kevin Chen
          <span class="d-block h4">跨界聯名，限量發售</span>
        </h2>
        <h3 class="fs-md fs-lg-md text-light">新銳漫畫家 Kevin Chen 親自操刀設計，街頭能量全面引爆！</h3>
        <a href="products.html" class="btn btn-primary" target="_blank">立即選購</a>
      </div>
    </section>
    <section id="part-4">
      <div class="container">
        <h2>依系列選購</h2>
        <ul class="list-unstyled row row-cols-2 row-cols-md-4 g-3">
          <li class="col">
            <div class="card position-relative border-0">
              <img src="../assets/images/products/product-3.png" alt="熱銷補貨照片" class="card-img rounded-0">
              <div class="text-white d-flex flex-column justify-content-center align-items-center position-absolute w-100 h-100 bg-dark bg-opacity-25">
                <h3 class="h5">URBN RUNNER</h3>
                <h4 class="fs-md">慢跑系列</h4>
              </div>
            </div>
          </li>
          <li class="col">
            <div class="card position-relative border-0">
              <img src="../assets/images/products/product-4.png" alt="熱銷補貨照片" class="card-img rounded-0">
              <div class="text-white d-flex flex-column justify-content-center align-items-center position-absolute w-100 h-100 bg-dark bg-opacity-25">
                <h3 class="h5">STREETMODE</h3>
                <h4 class="fs-md">滑板系列</h4>
              </div>
            </div>
          </li>
          <li class="col">
            <div class="card position-relative border-0">
              <img src="../assets/images/products/product-5.png" alt="熱銷補貨照片" class="card-img rounded-0">
              <div class="text-white d-flex flex-column justify-content-center align-items-center position-absolute w-100 h-100 bg-dark bg-opacity-25">
                <h3 class="h5">CHUNK DISTRICT</h3>
                <h4 class="fs-md">厚底系列</h4>
              </div>
            </div>
          </li>
          <li class="col">
            <div class="card position-relative border-0">
              <img src="../assets/images/products/product-6.png" alt="熱銷補貨照片" class="card-img rounded-0">
              <div class="text-white d-flex flex-column justify-content-center align-items-center position-absolute w-100 h-100 bg-dark bg-opacity-25">
                <h3 class="h5">COLLAB ZONE</h3>
                <h4 class="fs-md">聯名企劃</h4>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </section>
    <section id="part-5">
      <div class="container">
        <h2>穿搭靈感</h2>
        <ul class="list-unstyled d-flex d-md-grid overflow-x-auto">
          <li class="col">
            <img class="w-100" src="../assets/images/index/inspiration-1.png" alt="穿搭靈感-1">
          </li>
          <li class="col">
            <img class="w-100" src="../assets/images/index/inspiration-2.png" alt="穿搭靈感-2">
          </li>
          <li class="col">
            <img class="w-100" src="../assets/images/index/inspiration-3.png" alt="穿搭靈感-3">
          </li>
          <li class="col">
            <img class="w-100" src="../assets/images/index/inspiration-4.png" alt="穿搭靈感-4">
          </li>
          <li class="col">
            <img class="w-100" src="../assets/images/index/inspiration-5.png" alt="穿搭靈感-5">
          </li>
          <li class="col">
            <img class="w-100" src="../assets/images/index/inspiration-6.png" alt="穿搭靈感-6">
          </li>
          <li class="col">
            <img class="w-100" src="../assets/images/index/inspiration-7.png" alt="穿搭靈感-7">
          </li>
          <li class="col">
            <img class="w-100" src="../assets/images/index/inspiration-8.png" alt="穿搭靈感-8">
          </li>
          <li class="col">
            <img class="w-100" src="../assets/images/index/inspiration-9.png" alt="穿搭靈感-9">
          </li>
          <li class="col">
            <img class="w-100" src="../assets/images/index/inspiration-10.png" alt="穿搭靈感-10">
          </li>
          <li class="col">
            <img class="w-100" src="../assets/images/index/inspiration-11.png" alt="穿搭靈感-11">
          </li>
          <li class="col">
            <img class="w-100" src="../assets/images/index/inspiration-12.png" alt="穿搭靈感-12">
          </li>
        </ul>
      </div>
    </section>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
