<!doctype html>
<html lang="zh-TW">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>女鞋｜URBNSTEP</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <main class="container">
      <nav class="breadcrumb mb-0">
        <ol class="breadcrumb mb-0">
          <li class="breadcrumb-item"><a class="text-gray-600 text-decoration-none" href="#">首頁</a></li>
          <li class="breadcrumb-item"><a class="text-gray-600 text-decoration-none" href="#">女鞋</a></li>
          <li class="breadcrumb-item active" aria-current="pag">
            所有商品
          </li>
        </ol>
      </nav>
      <h1 class="h4 h3-lg my-s my-lg-l">女鞋</h1>
      <div class="row">
        <nav class="col-lg-2">
          <ul class="nav flex-column d-none d-lg-flex gap-3">
            <li class="nav-item py-xxs">
              <a class="nav-link px-0 active" href="#">所有商品</a>
            </li>
            <li class="nav-item py-xxs"><a class="nav-link px-0" href="#">慢跑鞋</a></li>
            <li class="nav-item py-xxs"><a class="nav-link px-0" href="#">滑板鞋</a></li>
            <li class="nav-item py-xxs"><a class="nav-link px-0" href="#">厚底鞋</a></li>
            <li class="nav-item py-xxs">
              <a class="nav-link px-0" href="#">限定 / 聯名企劃</a>
            </li>
          </ul>
        </nav>
        <div class="col-lg-10">
          <ul class="list-unstyled row row-cols-2 row-cols-lg-3 g-s g-lg-4">
            <li class="col">
                <div>
                  <img
                    src="../assets/images/products/product-1.png"
                    alt=""
                    class="card-img rounded-0"
                  />
                  <div class="d-grid gap-lg-xxs mt-xs mt-lg-s">
                    <h2 class="h6">PLATFORM 404</h2>
                    <h3 class="fs-lmd fw-medium lh-base">NT$2,600</h3>
                  </div>
                </div>
            </li>
            <li class="col">
                <div>
                  <img
                    src="../assets/images/products/product-2.png"
                    alt=""
                    class="card-img rounded-0"
                  />
                  <div class="d-grid gap-lg-xxs mt-xs mt-lg-s">
                    <h2 class="h6">PLATFORM 404</h2>
                    <h3 class="fs-lmd fw-medium lh-base">NT$2,600</h3>
                  </div>
                </div>
            </li>
            <li class="col">
                <div>
                  <img
                    src="../assets/images/products/product-3.png"
                    alt=""
                    class="card-img rounded-0"
                  />
                  <div class="d-grid gap-lg-xxs mt-xs mt-lg-s">
                    <h2 class="h6">VM001</h2>
                    <h3 class="fs-lmd fw-medium lh-base">NT$2,600</h3>
                  </div>
                </div>
            </li>
            <li class="col">
                <div>
                  <img
                    src="../assets/images/products/product-4.png"
                    alt=""
                    class="card-img rounded-0"
                  />
                  <div class="d-grid gap-lg-xxs mt-xs mt-lg-s">
                    <h2 class="h6">Melty Kiss</h2>
                    <h3 class="fs-lmd fw-medium lh-base">NT$4,000</h3>
                  </div>
                </div>
            </li>
            <li class="col">
                <div>
                  <img
                    src="../assets/images/products/product-5.png"
                    alt=""
                    class="card-img rounded-0"
                  />
                  <div class="d-grid gap-lg-xxs mt-xs mt-lg-s">
                    <h2 class="h6">BOOMBLOK</h2>
                    <h3 class="fs-lmd fw-medium lh-base">NT$3,200</h3>
                  </div>
                </div>
            </li>
            <li class="col">
                <div>
                  <img
                    src="../assets/images/products/product-6.png"
                    alt=""
                    class="card-img rounded-0"
                  />
                  <div class="d-grid gap-lg-xxs mt-xs mt-lg-s">
                    <h2 class="h6">BOOMBLOK</h2>
                    <h3 class="fs-lmd fw-medium lh-base">NT$3,200</h3>
                  </div>
                </div>
            </li>
            <li class="col">
                <div>
                  <img
                    src="../assets/images/products/product-7.png"
                    alt=""
                    class="card-img rounded-0"
                  />
                  <div class="d-grid gap-lg-xxs mt-xs mt-lg-s">
                    <h2 class="h6">R:UNER</h2>
                    <h3 class="fs-lmd fw-medium lh-base">NT$4,000</h3>
                  </div>
                </div>
            </li>
            <li class="col">
                <div>
                  <img
                    src="../assets/images/products/product-8.png"
                    alt=""
                    class="card-img rounded-0"
                  />
                  <div class="d-grid gap-lg-xxs mt-xs mt-lg-s">
                    <h2 class="h6">Sugar Snap</h2>
                    <h3 class="fs-lmd fw-medium lh-base">NT$4,000</h3>
                  </div>
                </div>
            </li>
            <li class="col">
                <div>
                  <img
                    src="../assets/images/products/product-9.png"
                    alt=""
                    class="card-img rounded-0"
                  />
                  <div class="d-grid gap-lg-xxs mt-xs mt-lg-s">
                    <h2 class="h6">Neofoam</h2>
                    <h3 class="fs-lmd fw-medium lh-base">NT$4,000</h3>
                  </div>
                </div>
            </li>
            <li class="col d-lg-none">
                <div>
                  <img
                    src="../assets/images/products/product-10.png"
                    alt=""
                    class="card-img rounded-0"
                  />
                  <div class="d-grid gap-lg-xxs mt-xs mt-lg-s">
                    <h2 class="h6">Buttermood</h2>
                    <h3 class="fs-lmd fw-medium lh-base">NT$4,000</h3>
                  </div>
                </div>
            </li>
          </ul>
          <nav class="">
            <ul class="pagination justify-content-center">
              <li class="page-item disabled">
                <a href="#" class="page-link">
                  <i class="bi bi-chevron-left"></i>
                </a>
              </li>
              <li class="page-item active">
                <a href="#" class="page-link">1</a>
              </li>
              <li class="page-item"><a href="#" class="page-link">2</a></li>
              <li class="page-item"><a href="#" class="page-link">3</a></li>
              <li class="page-item"><a href="#" class="page-link">...</a></li>
              <li class="page-item"><a href="#" class="page-link">10</a></li>
              <li class="page-item">
                <a href="#" class="page-link">
                  <i class="bi bi-chevron-right"></i>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </main>
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
