<!doctype html>
<html lang="zh-TW">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>女鞋｜URBNSTEP</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <main class="container">
      <nav class="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">首頁</a></li>
          <li class="breadcrumb-item"><a href="#">女鞋</a></li>
          <li class="breadcrumb-item active" aria-current="pag">
            <a href="#">所有商品</a>
          </li>
        </ol>
      </nav>
      <h1>女鞋</h1>
      <div class="row">
        <nav class="col-lg-3">
          <ul class="nav nav-pills flex-column d-none d-lg-flex">
            <li class="nav-item">
              <a class="nav-link active" href="#">所有商品</a>
            </li>
            <li class="nav-item"><a class="nav-link" href="#">慢跑鞋</a></li>
            <li class="nav-item"><a class="nav-link" href="#">滑板鞋</a></li>
            <li class="nav-item"><a class="nav-link" href="#">厚底鞋</a></li>
            <li class="nav-item">
              <a class="nav-link" href="#">限定 / 聯名企劃</a>
            </li>
          </ul>
        </nav>
        <div class="col-lg-9">
          <ul class="list-unstyled row row-cols-2 row-cols-lg-3">
            <li class="col">
              <div class="card border-0">
                <img
                  src="../assets/images/products/product-1.png"
                  alt=""
                  class="card-img rounded-0"
                />
                <div class="card-body">
                  <h2 class="">PLATFORM 404</h2>
                  <h3 class="">NT$2,600</h3>
                </div>
              </div>
            </li>
            <li class="col">
              <div class="card border-0">
                <img
                  src="../assets/images/products/product-2.png"
                  alt=""
                  class="card-img rounded-0"
                />
                <div class="card-body">
                  <h2 class="">PLATFORM 404</h2>
                  <h3 class="">NT$2,600</h3>
                </div>
              </div>
            </li>
            <li class="col">
              <div class="card border-0">
                <img
                  src="../assets/images/products/product-3.png"
                  alt=""
                  class="card-img rounded-0"
                />
                <div class="card-body">
                  <h2 class="">VM001</h2>
                  <h3 class="">NT$2,600</h3>
                </div>
              </div>
            </li>
            <li class="col">
              <div class="card border-0">
                <img
                  src="../assets/images/products/product-4.png"
                  alt=""
                  class="card-img rounded-0"
                />
                <div class="card-body">
                  <h2 class="">Melty Kiss</h2>
                  <h3 class="">NT$4,000</h3>
                </div>
              </div>
            </li>
            <li class="col">
              <div class="card border-0">
                <img
                  src="../assets/images/products/product-5.png"
                  alt=""
                  class="card-img rounded-0"
                />
                <div class="card-body">
                  <h2 class="">BOOMBLOK</h2>
                  <h3 class="">NT$3,200</h3>
                </div>
              </div>
            </li>
            <li class="col">
              <div class="card border-0">
                <img
                  src="../assets/images/products/product-6.png"
                  alt=""
                  class="card-img rounded-0"
                />
                <div class="card-body">
                  <h2 class="">BOOMBLOK</h2>
                  <h3 class="">NT$3,200</h3>
                </div>
              </div>
            </li>
            <li class="col">
              <div class="card border-0">
                <img
                  src="../assets/images/products/product-7.png"
                  alt=""
                  class="card-img rounded-0"
                />
                <div class="card-body">
                  <h2 class="">R:UNER</h2>
                  <h3 class="">NT$4,000</h3>
                </div>
              </div>
            </li>
            <li class="col">
              <div class="card border-0">
                <img
                  src="../assets/images/products/product-8.png"
                  alt=""
                  class="card-img rounded-0"
                />
                <div class="card-body">
                  <h2 class="">Sugar Snap</h2>
                  <h3 class="">NT$4,000</h3>
                </div>
              </div>
            </li>
            <li class="col">
              <div class="card border-0">
                <img
                  src="../assets/images/products/product-9.png"
                  alt=""
                  class="card-img rounded-0"
                />
                <div class="card-body">
                  <h2 class="">Neofoam</h2>
                  <h3 class="">NT$4,000</h3>
                </div>
              </div>
            </li>
            <li class="col d-lg-none">
              <div class="card border-0">
                <img
                  src="../assets/images/products/product-10.png"
                  alt=""
                  class="card-img rounded-0"
                />
                <div class="card-body">
                  <h2 class="">Buttermood</h2>
                  <h3 class="">NT$4,000</h3>
                </div>
              </div>
            </li>
          </ul>
          <nav class="">
            <ul class="pagination justify-content-center">
              <li class="page-item">
                <a href="#" class="page-link">
                  <i class="bi bi-chevron-left"></i>
                </a>
              </li>
              <li class="page-item active">
                <a href="#" class="page-link">1</a>
              </li>
              <li class="page-item"><a href="#" class="page-link">2</a></li>
              <li class="page-item"><a href="#" class="page-link">3</a></li>
              <li class="page-item"><a href="#" class="page-link">4</a></li>
              <li class="page-item">
                <a href="#" class="page-link">
                  <i class="bi bi-chevron-right"></i>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </main>
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
